{% extends "base.html" %}

{% block content %}
<div class="card-columns" style="padding: 10px; margin: 20px;">
    {% for object in main_headlines %}
    <div class="card" style="width: 18rem;border:5px black solid;">
        <img class="card-img-top" src="{{ object.image }}">
        <div class="card-body">
            <h5 class="card-title">
                <div class="card-body">
                    <a href="{{object.url}}"><h5 class="card-title">{{object.title}}</h5></a>
                </div>
            </h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
